:root{
    --yellow-color:#F7B236;
    --lightbrown-color:#C29877;
    --brown-color:#B87056;
    --white-color: #FFFFFF;
    --ivory-color:#FFFFF0;
    --black-clor:#202225;
    --green-color:#00BE00;
    --darkgreen-color:#346E30;
    
    --padding: 12px;

}

.box{
    background-color:var(--green-color);
    border-radius:80px;
    margin:0 30px;
    padding: var(--padding);
    COLOR:VAR(--white-color);
    display:flex;
    flex-direction:column;
    align-items:center;
}
.title{
    font-size:30px;
    font-family: 'Fredoka One', cursive;
}
.chat,#textbox,#order{
    font-family: 'Jua', sans-serif;
}

.chat{
    background-color: var(--brown-color);
    color:var(--black-color);
    width: 50%;
    height:50%;
    margin:auto;
    margin-top: 70px;
    padding-top:50px;
    padding-bottom:50px;
    text-align: center;
    border-radius:50px;
    font-size:18px;
}

.character img{
   width:175px;
   height:171px;
}

form input{
    width: 320px;
    border: 2px solid var(--white-color);
    border-radius:50px;
    padding: 10px 10px;
}

#order{
    background-color: var(--darkgreen-color);
    color: var(--white-color);
    text-align:center;
    width:160px;
    padding: 10px 10px;
    margin-top:calc(var(--padding)*3);
    border: none;
    border-radius:50%;
    display:inline-block;
}
